/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.close{
    float:right;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
   right: 2px;
   
}